<div>
    <a href="#!/novoproduto">Novo</a>
    <br>
    <br>
    <input type="text">
    <br>
    <table>
        <tr>
            <th>Codigo</th>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Ações</th>
        </tr>
        <tr ng-repeat="x in produtos">
            <td>{{x.id}}</td>
            <td>{{x.descricao}}</td>
            <td>{{x.preco}}</td>
            <td><a>editar</a><a ng-click="excluirProduto($index)">excluir</a></td>
        </tr>
    </table>
</div>